<!DOCTYPE html>
<html>
  <head>
    <title>Bitcoin Ticker</title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <h1>vaire vaii <%=vaii%></h1>
    <ul>
      <li>123132</li>
      <li>1132</li>
      <li>1231</li>
      <li><%=name%></li>
 
      
    </ul>
    <form action="/vaire" method="POST">
      <input type="text" name="input" id="">
      <button name="btn">click</button>
    </form>

  
  </body>
</html>
